* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

:root {
    --primary: rgb(232, 5, 39);
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom,
            #f2d9b4 0%,
            #f2d9b4 30%,
            white 100%);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: black;
    overflow-x: hidden;
}

/* --------------------------------
-------------------------------- */
/* about-section */
/* --------------------------------
-------------------------------- */
.container1 {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 20px;
}

.header {
    position: relative;
    width: 100%;
    aspect-ratio: 1418/200;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4vw;
    aspect-ratio: 504/70;
}

.subtitle {
    max-width: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2vw;
    font-weight: bolder;
}

.content-area {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
    padding-top: 20px;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    background-color: #d3d0c8;
    min-height: 400px;
    transition: background-color 0.3s;
}

.column:last-child {
    border-right: none;
}

.column:hover {
    background-color: #c5c2ba;
}





/* --------------------------------
-------------------------------- */
/* FAQ-section */
/* --------------------------------
-------------------------------- */
.FAQ-section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 0;
    height: auto;
    padding-left: 20px;

}

.social-box {
    display: flex;
    aspect-ratio: 291/156;
    max-width: 291px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: aquamarine;

}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.social-box {
    font-size: 2vw;
}

.social-icons a {
    display: flex;
    /* giống div, nhưng vẫn giữ tính inline */
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    /* nền xám */
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* bo góc nhẹ, nếu muốn tròn hẳn thì dùng 50% */
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.contact-box {
    margin-top: 54px;
    position: relative;
    max-width: 733px;
    width: 100%;
    aspect-ratio: 733/142;
    background-color: aqua;
}

.contact-box h3 {
    position: absolute;
    left: 0;
    font-size: 2.8vw;
    width: 250px;
    text-align: left;

}

.contact-box p {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2.8vw;
    width: 500px;
    text-align: right;

}


/* --------------------------------
-------------------------------- */
/* description-section */
/* --------------------------------
-------------------------------- */

.description-section {
    width: 100%;
    margin: 0 auto;
    max-width: 899px;
    padding-top: 100px;
    font-size: 30px;
    padding-bottom: 100px;
}

/* --------------------------------
-------------------------------- */
/* nav-section */
/* --------------------------------
-------------------------------- */
.nav__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1440px;
}

.nav__container {
    padding: 0 16px;
}


.nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 10px;
}


.nav__bottom {
    border-top: 1px solid black;
    margin-left: 5px;

}

.nav__logo a {
    text-transform: uppercase;
    font-size: 38px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.nav__logo,
.nav__hamburgermenu,
.nav__about,
.nav__search,
.nav__newsletter{
    position: relative;
    height: 100px;
    aspect-ratio: 5/2;
    background:
        radial-gradient(ellipse 85% 100% at 50% 100%,
            transparent 0%,
            transparent calc(100% - 0.1px),
            black calc(100% - 0.1px),
            black 100%);
    /* Cắt phần trên để chỉ giữ nửa dưới */
    clip-path: ellipse(85% 100% at 50% 100%);
    border: 2px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: transform 120ms ease, color 200ms ease;
    overflow: hidden;
    flex-shrink: 0;
}

.nav__languages a,
.nav__logo a {
    text-decoration: none;
    color: black;
    color: inherit;
}



.nav__logo:hover,
.nav__hamburgermenu:hover,
.nav__languages:hover,
.nav__newsletter:hover,
.nav__search:hover {
    transform: translateY(-5px);
    border-bottom: 1px solid black;
    color: brown;
    text-decoration: none;
}

.nav__hamburgermenu:hover span {
    background-color: brown;
}

.nav__categories {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    /* ẨN HOÀN TOÀN SCROLLBAR */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

/* Ẩn scrollbar cho Chrome/Safari/Opera */
.nav-list::-webkit-scrollbar {
    display: none;
}

.nav__categories a {
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    margin-top: 5px;
}

.nav__categories li {
    list-style: none;
}

.nav__categories a.active {
    background-color: rgb(232, 5, 39);
    color: white;
}


.nav__hamburgermenu {
    text-decoration: none;
    color: black;
    flex-shrink: 0;
}

.nav__hamburgermenuu {
    height: 50px;
    width: 50px;
    display: flex;
    position: relative;
}

.nav__hamburgermenu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.nav__hamburgermenu span:nth-child(1) {
    top: 25%;
}

.nav__hamburgermenu span:nth-child(3) {
    top: 75%;
}

.nav__categories li:nth-child(4) a {
    flex-shrink: 0;
    min-width: max-content;
}

.nav__categories li:nth-child(3) a {
    flex-shrink: 0;
    min-width: max-content;
}

.nav__categories li:nth-child(5) a {
    flex-shrink: 0;
    min-width: max-content;
}

@media (max-width: 1400px) {

    .nav__languages,
    .nav__newsletter,
    .nav__search {
        display: none;
        transition: all 0.3s ease;
    }
}

@media (max-width: 768px) {
    .nav__top-left {
        display: none;
    }

    .nav__top-right {
        display: none;
    }
}

/* --------------------------------
-------------------------------- */
/* footer--section */
/* --------------------------------
-------------------------------- */
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px 0 80px;
    margin-top: auto;
}

.footer__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: clamp(50px, 25vw, 300px);
    padding: 0 40px;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding-left: 6px;
    justify-content: flex-start;
}

.footer__newsletter a {
    color: gray;

}

.newsletter__title {
    font-size: 1.75rem;
    line-height: 1.3;
    padding-top: 70px;
    /* flex-shrink: 0; */
    /* min-width: max-content; */

}

.newsletter__formbox {
    display: flex;
}

.newsletter__formbox input {
    /* height: 20px; */
    padding: 18px 20px;
    border-radius: 16px 0 0 16px;
    border: none;
    outline: none;
    font-size: 1.3em;
    font-weight: bolder;
    flex: 1;
}

.newsletter__formbox button {
    border-radius: 0 16px 16px 0;
    padding: 18px 20px;
    border-left: none;
    font-size: 1.3em;
    font-weight: bold;
    background-color: gray;
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

.newsletter__formbox button:hover {

    transition: background-color 0.7s ease;
    background-color: rgb(0, 102, 255);
}

.siteinfo__formbox input::placeholder {
    /* giống h2 */

    /* chữ đậm */
    /* line-height: 1; */
    /* min-width: max-content; */
    color: gray;

    /* khoảng cách dòng */
}

.siteinfo__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 30px;
}

.siteinfo__right a {
    color: white;
    text-decoration: none;
}

.icon__container {
    display: flex;
    gap: 40px;
    padding-top: 60px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

a:hover i {
    color: gray;
    transition: color 0.3s ease;
}

.fa-brands {
    font-size: 45px;
    height: 45px;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bolder;
}

.email {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bolder;
}

.end {
    margin-bottom: 10px;
}

.option {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 0 0 -130px;
    padding-right: auto;

    flex-direction: row;
}

.options__container li {
    list-style: none;
}

.options__container {
    margin-left: 50px;
}


@media (max-width: 1200px) {



    .maintopic__container {
        display: flex;
        flex-direction: column;
    }

    .footer__newsletter {
        flex: 1;
        min-width: 300px;
    }

    .option {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: -50px;
    }

    .popular__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }



    .grid1__content1,
    .grid1__content2,
    .lifestyle,
    .politics {
        display: flex;
        flex-direction: row;
        gap: 30px;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .grid1__content1-img,
    .grid1__content2-img,
    .lifestyle__img,
    .politics__img {
        width: 50%;
    }

    .grid__box1 {
        padding-right: none;
        margin-right: none;
    }

    .popular__container {
        margin-right: none;
        padding-right: none;
    }

    .business__news-img {
        padding-top: 10px;
    }

    .business__news-description {
        padding-bottom: 20px;
    }

    .bussiness__news {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .business__news-description {
        margin: 0 auto;
    }

    .grid__box1,
    .grid__box2 {
        border: none;
    }

    .lifestyle {
        padding-top: 15px;
    }

    .topic__container {
        display: flex;
        flex-direction: column;
    }

    .news__img {
        width: 20%;
    }

    .threenews__img {
        width: 40%;
        aspect-ratio: 100/50;
    }


}

@media (max-width: 768px) {
    .nav__top-left {
        display: none;
    }

    .nav__top-right {
        display: none;
    }

    .boxlowerleft {
        display: flex;
        flex-direction: column;
    }

    .footer__container {
        flex-direction: column;
        /* Chuyển thành cột */
        gap: 40px;
    }

    .newsletter__formbox input {
        width: 300px;
        /* hoặc giá trị cố định bạn muốn */
        max-width: 100%;
        /* đảm bảo không vượt quá màn hình */
        flex: none;
        /* tắt flex grow/shrink */
    }

    .AI__container {
        display: flex;
        flex-direction: column;
    }

    .AI__left {
        border: none;
    }

    .AI__news--1 {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        ;
    }


}

@media (max-width: 500px) {
    .newsletter__formbox {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .newsletter__formbox input {
        width: 100%;
        border-radius: 16px;
        padding: 14px 16px;
        font-size: 1rem;
    }

    .newsletter__formbox button {
        width: 100%;
        border-radius: 16px;
        padding: 14px 16px;
        font-size: 1rem;
        white-space: normal;
    }
}

/* ================================
   MOBILE MENU OVERLAY & SIDEBAR
================================ */
.mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile-menu-overlay.active {
    display: block;
    opacity: 1;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    max-width: 85vw;
    height: 100vh;
    background: #efe0be;
    z-index: 999;
    transition: right 0.3s ease;
    overflow-y: auto;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu-header {
    background: #e0d1a8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.mobile-menu-header .mobile-menu__nav-logo {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}



.close-menu {
    background: transparent;
    border: 2px solid black;
    color: black;
    font-size: 28px;
    cursor: pointer;
    line-height: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.close-menu:hover {
    background: black;
    color: white;
    transform: rotate(90deg);
}

.mobile-nav-links {
    list-style: none;
    padding: 20px 0;
}

.mobile-nav-links li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav-links li a:hover {
    background: #e0d1a8;
    padding-left: 35px;
}

.mobile-nav-links li a.active {
    background: var(--primary);
    color: white;
}

.mobile-menu-footer {
    padding: 20px;
    border-top: 2px solid black;
    background: #e0d1a8;
}

.mobile-menu-footer-item {
    border: 2px solid black;
    background: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.mobile-menu-footer-item:hover {
    background: black;
    color: white;
    transform: translateY(-2px);
}