/* --------------------------------
4. COMPONENT: CATEGORY PAGE (MAIN)
(Đây là code CỦA RIÊNG TRANG NÀY)
--------------------------------
*/
.background__title {
  padding-top: 30px;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  font-size: 20px;
  height: auto;
}

.title__container {
  margin: 0 auto;
  max-width: 1440px;
  justify-content: center;
  text-align: center;
}

.news__container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.new__box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  cursor: pointer;
  user-select: none;
}

.img {
  width: 400px;
  height: 300px;
  background-color: gray;
}
