
.background__title {
    padding-top: 30px;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    height: auto;
}

.title__container {
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
    text-align: center;
}


.news__container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.new__box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    cursor: pointer;
    user-select: none;
}

.img {
    width: 400px;
    height: 300px;
    background-color: gray;
}


@media (max-width: 1400px) {

}

@media (max-width: 768px) {
  
}


@media (max-width: 1200px) {



    .maintopic__container {
        display: flex;
        flex-direction: column;
    }

    .footer__newsletter {
        flex: 1;
        min-width: 300px;
    }

    .option {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: -50px;
    }

    .popular__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }



    .grid1__content1,
    .grid1__content2,
    .lifestyle,
    .politics {
        display: flex;
        flex-direction: row;
        gap: 30px;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .grid1__content1-img,
    .grid1__content2-img,
    .lifestyle__img,
    .politics__img {
        width: 50%;
    }

    .grid__box1 {
        padding-right: none;
        margin-right: none;
    }

    .popular__container {
        margin-right: none;
        padding-right: none;
    }

    .business__news-img {
        padding-top: 10px;
    }

    .business__news-description {
        padding-bottom: 20px;
    }

    .bussiness__news {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .business__news-description {
        margin: 0 auto;
    }

    .grid__box1,
    .grid__box2 {
        border: none;
    }

    .lifestyle {
        padding-top: 15px;
    }

    .topic__container {
        display: flex;
        flex-direction: column;
    }

    .news__img {
        width: 20%;
    }

    .threenews__img {
        width: 40%;
        aspect-ratio: 100/50;
    }


}

@media (max-width: 768px) {

    .boxlowerleft {
        display: flex;
        flex-direction: column;
    }

    .footer__container {
        flex-direction: column;
        /* Chuyển thành cột */
        gap: 40px;
    }

    .newsletter__formbox input {
        width: 300px;
        /* hoặc giá trị cố định bạn muốn */
        max-width: 100%;
        /* đảm bảo không vượt quá màn hình */
        flex: none;
        /* tắt flex grow/shrink */
    }

    .AI__container {
        display: flex;
        flex-direction: column;
    }

    .AI__left {
        border: none;
    }

    .AI__news--1 {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        ;
    }


}

@media (max-width: 500px) {
    .newsletter__formbox {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .newsletter__formbox input {
        width: 100%;
        border-radius: 16px;
        padding: 14px 16px;
        font-size: 1rem;
    }

    .newsletter__formbox button {
        width: 100%;
        border-radius: 16px;
        padding: 14px 16px;
        font-size: 1rem;
        white-space: normal;
    }
}
