<nav class="nav__container">
  <div class="nav__top">
    <div class="nav-item-wrapper">
      <div class="nav__search">
        <a href="search.html"><p>Search</p></a>
      </div>
    </div>
    <div class="nav-item-wrapper">
      <div class="nav__newsletter">
        <p>News letter</p>
      </div>
    </div>
    <div class="nav-item-wrapper">
      <div class="nav__logo">
        <a href="index.html"> AUREWS </a>
      </div>
    </div>
    <div class="nav-item-wrapper">
      <div class="nav__about">
        <a href="about.html">
          <p>About</p>
        </a>
      </div>
    </div>
    <div class="nav-item-wrapper">
      <div class="nav__hamburgermenu" onclick="toggleMenu(); return false;">
        <div
          class="nav__hamburgermenu__icon menu-toggle"
          aria-label="Toggle menu"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="nav__bottom">
    <ul class="nav__categories">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="./category.html?type=Latest">Latest</a></li>
      <li><a href="./category.html?type=Business News">Business News</a></li>
      <li>
        <a href="./category.html?type=Money and Markets">Money & Markets</a>
      </li>
      <li>
        <a href="./category.html?type=Tech and Innovation">Tech & Innovation</a>
      </li>
      <li><a href="./category.html?type=A.I.">A.I.</a></li>
      <li><a href="./category.html?type=Lifestyle">Lifestyle</a></li>
      <li><a href="./category.html?type=Politics">politics</a></li>
      <li><a href="./category.html?type=Email">email</a></li>
      <li><a href="./category.html?type=Podcast">podcast</a></li>
    </ul>
  </div>
</nav>
